/* ==============================================================================================================
 * about.css
 * ==============================================================================================================
 * 
 * Author: Satoki Nijikawa (Niji System)
 *         Wamo            (Niji System)
 *         Vihreääketty    (Niji System)
 * 
 */

/* ====== Figure styles ====== */

figure.about-us-left {
    float: left;
    border-style: groove;
    border-width: 0.4rem;
    border-color: #dadada;
    background-color: #555555;
    width: 240px;
    height: none;
    margin: 1rem;
}

figure.about-us-right {
    float: right;
    border-style: groove;
    border-width: 0.4rem;
    border-color: #dadada;
    background-color: #555555;
    width: 240px;
    height: none;
    margin: 1rem;
}

/* ====== Image styles ====== */

img.about-us-art {
    height: 240px;
    width: 240px;
}

/* ====== Section styles ====== */

section.align-right {
    text-align: right;
}
