/* ==============================================================================================================
 * about.css
 * ==============================================================================================================
 * 
 * Author: Satoki Nijikawa (Niji System)
 *         Wamo            (Niji System)
 *         Vihreääketty    (Niji System)
 * 
 */

/* ====== Figure styles ====== */

figure.about-us-left {
    float: left;
    border-style: groove;
    border-width: 0.4rem;
    border-color: #dadada;
}
