.required::after {
    content: "*" / "";
    color: red;
}

.comment-card {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0.25rem groove #dadada;
}

.comment-meta {
    font-family: 'NewComputerModern10Mono', 'FreeMono', 'Courier Prime', 'Courier New', 'Courier', 'Consolas', 'Lucida Console', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.comment-text {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* >>>>>> END OF FILE <<<<<< */
