/* =============================================================================
 * Main Stylesheet
 * =============================================================================
 * 
 * Author: Niji System - Satoki Nijikawa / 虹川郷鬼
 *                       Wamo            / ワーモ
 *                       Vihreääketty    / ヴィヒレアーケッテュ
 */

/* ====== Import web fonts ====== */

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');
/* Noto Sans Mono */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono');

/* ====== Universal styles (use wisely!!) ====== */

html {
    background-image: url("../img/bgimg/background-gradient.png");
    font-size: 16px; /* Defines `1rem' */
}

/* ====== Body styles ====== */

body {
    color: #e5e5e5;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* ====== Header styles ====== */

header {
    background-color: #1f1f1f;
    color: #e5e5e5;
    padding: 4px;
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    text-align: center;
}

/* ====== Main body styles ====== */

main {
    background-color: #121212;
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    padding: 1rem;
}

/* ====== Section Styles ====== */

section {
    display: flow-root; /* Containment unit for floating elements! */
}

/* ====== Navigation styles ====== */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

@media only screen and (max-width: 991.8px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    }
}

/* Navigation panel styling */
a#GotoAbout, a#GotoChangelog, a#GotoHome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em;
    font-size: 1.15rem;
}

/* ====== Footer styles ====== */

footer {
    background-color: #1f1f1f;
    color: #e5e5e5;
    padding: 0.25rem;
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    text-align: center;
}

/* ====== Figure styles ====== */

/* Figure captions */
figcaption {
    text-align: center;
}

/* ====== Heading styles ====== */

/* # Heading 1 */
h1 {
    font-size: 2.5rem;
    margin: 0px;
}

/* ## Heading 2 */
h2 {
    font-size: 2.25rem;
    margin: 0px;
}

/* ### Heading 3 */
h3 {
    font-size: 2rem;
    margin: 0px;
}

/* #### Heading 4 */
h4 {
    font-size: 1.75rem;
    margin: 0px;
}

/* ##### Heading 5 */
h5 {
    font-size: 1.5rem;
    margin: 0px;
}

/* ###### Heading 6 */
h6 {
    font-size: 1.25rem;
    margin: 0px;
}

/* ====== Paragraph styles ====== */

p {
    font-size: 1rem;
}

/* ====== Anchor link styles ====== */

a {
    font-size: 1rem;
}

/* Unvisited links */
a:link {
    color: #88a3e8;
}

/* Unvisited hover links */
a:hover {
    color: #b0c1f0;
}

/* Visited links */
a:visited {
    color: #a799cd;
}

/* Visited hover links */
a:visited:hover {
    color: #c5b9dd;
}

/* Under construction links */
a.under-construction:link {
    color: #fd7865;
}
a.under-construction:hover {
    color: #fea898;
}
a.under-construction:visited {
    color: #c99391;
}
a.under-construction:visited:hover {
    color: #dcb5b3;
}

/* ====== Button styles ====== */

button {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-size: 1.1rem;
}

/* ====== Inline code styles ====== */

code {
    font-family: 'Courier New', 'Courier', 'Noto Sans Mono', monospace;
    font-size: 1rem;
}

/* ====== Emphasis styles ====== */

/* Emphasis */
em {
    font-style: italic;
}

/* Strong emphasis */
strong {
    font-size: 1.12rem;
    font-weight: bold;
}

/* ====== <img> styles ====== */

img.site-banner {
    margin: auto;
    height: 256px;
    width: 256px;
}

/* ====== <span> styles ====== */

/* :3 */

/* ====== <div> styles ====== */

div#SiteBanner {
    display: flex;
    justify-content: center;
}
