/* =============================================================================
 * Language stylesheet
 * =============================================================================
 *
 */

/* ====== English ===== */

.english-translation {
    font-style: oblique;
}

/* ====== International Phonetic Alphabet ====== */

.ipa {
    font-family: 'Gentium', 'Gentium Plus', 'GentiumAlt', 'DejaVu Sans', 'Segoe UI', 'Lucida Grande', 'Charis SIL', 'Doulos SIL', 'TITUS Cyberbit Basic', 'Code2000', 'Lucida Sans Unicode', sans-serif;
    font-size: 110%;
    font-variant-ligatures: no-common-ligatures;
    word-break: keep-all;
}

/* ====== Abkhaz ====== */

.abkhaz {
    font-family: 'FreeSans', 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ISO 9 */
.abkhaz-iso-9-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Adyghe / West Circassian ====== */

.west-circassian {
    font-family: 'FreeSans', 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ISO 9 (1995) */
.west-circassian-iso-9-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* KNAB (2003) */
.west-circassian-knab-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ALA-LC (1997) */
.library-of-congress-romanization-for-west-circassian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* TITUS (2000) */
.west-circassian-titus-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Akkadian ====== */

.akkadian {
    font-family: 'SantakkuM', 'Santakku', 'Kurinto Sans Aux', 'Segoe UI Historic', 'Noto Sans Cuneiform', sans-serif;
    font-size: 110%;
}

.akkadian-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Albanian ====== */

.albanian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Arabic ====== */

.arabic {
    font-family: 'Noto Naskh Arabic UI', 'Noto Naskh Arabic', 'Iranian Sans', 'Tahoma', 'Microsoft Sans Serif', 'Arial Unicode MS', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* ISO 233-2 */
.arabic-iso-233-2-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Armenian ====== */

.armenian {
    font-family: 'GHEA Grapalat', 'Mshtakan', 'Arial', 'Segoe UI', 'Tahoma', 'Arian AMU', 'DejaVu Sans', sans-serif;
}

/* ISO 9985 */
.armenian-iso-9985-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Assamese ====== */

.assamese {
    font-family: 'Bangla Sangam MN', 'UniBangla', 'Code2000', 'Likhan', 'UT Bengali Dhaka', 'Vrinda', 'Noto Sans Bengali', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.assamese-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Phonetic */
.assamese-phonetic-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Azerbaijani ====== */

/* in Azerbaijan */
.azerbaijani {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* in Iran */
.south-azerbaijani-perso-arabic {
    font-family: 'Iranian Sans', 'Geeza Pro', 'Tahoma', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* in Dagestan */
.azerbaijani-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Balinese ====== */

.balinese {
    font-family: 'Noto Sans Balinese', sans-serif;
    font-size: 110%;
}

.balinese-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Bangla / Bengali ====== */

.bengali {
    font-family: 'Bangla Sangam MN', 'UniBangla', 'Code2000', 'Likhan', 'UT Bengali Dhaka', 'Vrinda', 'Noto Sans Bengali', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.bengali-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Phonetic */
.bengali-phonetic-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Bosnian ====== */

.bosnian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Prior to the Yugoslav Wars */
.bosnian-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    color: red;
}

/* ====== Burmese ====== */

.burmese {
    font-family: 'Pyidaungsu', 'TharLon', 'Padauk', 'Myanmar Text', 'Myanmar3', 'Myanmar2', 'Myanmar1', 'ParabaikSans', 'MyMyanmar', 'Noto Sans Myanmar', sans-serif;
    font-size: 110%;
}

/* MCLTS (officially used by Myanmar) */
.burmese-mclts-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Chinese ====== */

.traditional-chinese {
    font-family: 'PingFang TC', 'Source Han Sans TC', 'Source Han Sans TW', 'Noto Sans CJK TC', 'Microsoft Jhenghei', 'MOESongUN', 'PMingLiU', 'PMingLiU-ExtB', 'MingLiU', 'MingLiU-ExtB', 'Ming', 'Heiti TC', 'HanaMinA', 'HanaMinB', sans-serif;
    font-size: 110%;
}

.simplified-chinese {
    font-family: 'PingFang SC', 'DengXian', 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'Microsoft Yahei', 'SimHei', 'SimSun', 'NSimSun', 'SimSun-ExtB', 'Song','Heiti SC', 'HanaMinA', 'HanaMinB', sans-serif;
    font-size: 110%;
}

/* ------ Mandarin Chinese ------ */

/* Hanyu pinyin (officially used by mainland China) */
.pinyin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Zhuyin fuhao / Bopomofo */
.zhuyin-fuhao {
    font-family: 'PingFang TC', 'Source Han Sans TC', 'Source Han Sans TW', 'Noto Sans CJK TC', 'Microsoft Jhenghei', 'MOESongUN', 'PMingLiU', 'PMingLiU-ExtB', 'MingLiU', 'MingLiU-ExtB', 'Ming', 'Heiti TC', 'HanaMinA', 'HanaMinB', sans-serif;
}

/* Tongyong pinyin */
.tongyong-pinyin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Wade-Giles (officially used by Taiwan) */
.wade-giles-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Yale */
.yale-romanization-for-mandarin-chinese {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Gwoyeu romatzyh */
.gwoyeu-romatzyh {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Palldius system (used in Russia) */
.palladius-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.palladius-latin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ------ Cantonese ------ */

/* Jyutping */
.jyutping {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Yale */
.yale-romanization-for-cantonese {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Cantonese pinyin */
.cantonese-pinyin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Guangdong romanization */
.guangdong-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ------ Hakka Chinese ------ */

/* Pha̍k-fa-sṳ */
.phak-fa-su {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Hakka romanization system */
.hakka-romanization-system {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Hagfa pinyim */
.hagfa-pinyim {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ------ Min Bei Chinese ------ */

/* Kienning Colloquial Romanized */
.kienning-colloquial-romanized {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ------ Min Dong Chinese ------ */

/* Bàng-uâ-cê */
.bang-ua-ce {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ------ Taiwanese Hokkien ------ */

/* Pe̍h-ōe-jī (co-officially used by Taiwan) */
.peh-oe-ji {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Tâi-lô (co-officially used by Taiwan) */
.tai-lo {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Phofsit Daibuun */
.phofsit-daibuun {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ------ Teochew Chinese ------ */

/* Peng'im */
.pengim {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Pe̍h-ōe-jī-like */
.peh-oe-ji-like-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Crimean Tatar ====== */

.crimean-tatar {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* No longer used; Russia still tries to impose this, but er, thankfully has not
had much success with that. Fuck Russia. Putin has a useless micropenis. */
.crimean-tatar-soviet-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    color: red;
}

/* ====== Croatian ====== */

.croatian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Danish ====== */

.danish {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Dhivehi ====== */

/* Thaana */
.dhivehi-thaana-script {
    font-family: 'Noto Sans Thaana', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* Malé Latin */
.dhivehi-male-latin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Dutch ====== */

.dutch {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Estonian ====== */

.estonian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Finnish ====== */

.finnish {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== French ====== */

.french {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Georgian ====== */

.georgian {
    font-family: 'DejaVu Sans', 'Arial Unicode MS', 'Sylfaen', 'Noto Sans Georgian', sans-serif;
}

.georgian-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== German ====== */

.german {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Ancient Greek ====== */

.ancient-greek {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.ancient-greek-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Modern Greek ====== */

.greek {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.greek-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Gujarati ====== */

.gujarati {
    font-family: 'Noto Sans Gujarati', 'Gujarati Sangam MN', 'Gujarati MT', 'Shruti', 'Lucida Grande', 'Arial Unicode MS', 'Lucida Sans Unicode', 'Code2000', 'TITUS Cyberbit Basic', 'Chrysanthi Unicode', 'Bitstream Cyberbit', 'Bitstream CyberBase', 'Bitstream Vera', 'Visual Geez Unicode', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.gujarati-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Hebrew ====== */

/*
If you are actively speaking this language, then I'm just gonna assume that you
have a blatant disregard for human rights, and that you are a racist, a diseased
white mutt excuse of a human being, a colonizer, and a fucking Nazi.
*/

.hebrew {
    font-family: 'SBL Hebrew', 'SBL BibLit', 'Taamey David CLM', 'Taamey Frank CLM', 'Alef', 'Noto Sans Hebrew', 'Narkisim', 'Miriam', 'Kinryu', 'Arial Hebrew', 'Arial', 'Adobe Hebrew', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* SBL */
.hebrew-sbl-transliteration {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Hindi ====== */

.hindi {
    font-family: 'Chandas', 'Tiro Devanagari Sanskrit', 'Sanskrit Text', 'Adobe Devanagari', 'Noto Serif Devanagari', 'Utsaah', 'Devanagari MT', 'Raghu', 'Gargi', 'JanaSanskrit', 'JanaHindi', 'Siddhanta', 'Noto Sans Devanagari', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.hindi-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Hunterian */
.hindi-hunterian-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Hittite ====== */

.hittite {
    font-family: 'UllikummiA', 'Akkadian', 'FreeIdgSerif', 'CuneiformComposite', 'Segoe UI Historic', sans-serif;
}

.hittite-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Hungarian ====== */

.hungarian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Icelandic ====== */

.icelandic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Indonesian ====== */

.indonesian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Italian ====== */

.italian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Japanese ====== */

.japanese {
    font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro', 'Noto Sans CJK JP', 'Noto Sans JP', 'Kurinto Sans JP', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
    font-size: 110%;
}
rt {
    font-family: inherit;
    font-size: 50%
}

.romaji {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Javanese ====== */

.javanese {
    font-family: 'Tuladha Jejeg', 'Javanese Text', 'adjisaka', 'Noto Sans Javanese', sans-serif;
    font-size: 110%;
}

.javanese-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Kabardian / East Circassian ====== */

.east-circassian {
    font-family: 'FreeSans', 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ADDER alphabet */
.east-circassian-adder-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Kannada ====== */

.kannada {
    font-family: 'Kannada Sangam MN', 'JanaKannada', 'Tunga', 'Kedage', 'RaghuKannada', 'Sampige', 'Arial Unicode MS', 'Code2000', 'Bitstream Cyberbit', 'Bitstream CyberBase', 'Noto Sans Kannada', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.kannada-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Kazakh ====== */

.kazakh {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.kazakh-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Khmer ====== */

.khmer {
    font-family: 'Khmer OS', 'Khmer OS Content', 'Leelawadee UI', 'Noto Sans Khmer', 'Code2000', 'Khmer Mondulkiri U OT ls', sans-serif;
    font-size: 110%;
}

/* GD (officially used by Cambodia) */
.geographic-department-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* UNGEGN */
.khmer-ungegn-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ALA-LC */
.library-of-congress-romanization-for-khmer {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Korean ====== */

.korean,
.korean-hanja {
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', 'Dotum', 'Gulim', 'NanumBarunGothic YetHangul', 'NanumBarunGothic', 'UnDotum', 'Source Han Sans K', 'Source Han Sans KR', 'Noto Sans CJK KR', 'NanumGothic', 'NanumMyeongjo YetHangul', 'NanumMyeongjo', 'Batang', 'UnBatang', sans-serif;
    font-size: 110%;
}

/* Revised romanization (officially used by South Korea) */
.korean-revised-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* McCune-Reischauer (effectively officially used by North Korea) */
.mccune-reischauer-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Yale, reflects Middle Korean pronunciation */
.yale-romanization-for-korean {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Kontsevich system (used in Russia) */
.kontsevich-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.kontsevich-latin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Kyrgyz ====== */

.kyrgyz {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.kyrgyz-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.kyrgyz-arabic {
    font-family: 'Noto Naskh Arabic', 'Iranian Sans', 'Tahoma', 'Microsoft Sans Serif', 'Arial Unicode MS', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* ====== Lao ====== */

.laotian {
    font-family: 'Phetsarath OT', 'Saysettha OT', 'JG Basic Lao Opentype', 'JG Basic2 Lao Opentype', 'JG LaoTimes Opentype', 'Phagnoum Lao Unicode Opentype', 'JG Lao Old Arial Opentype', 'DokChampa', 'Code2000', 'JG Lao Classic Opentype', 'Alice0 Unicode', 'Alice1 Unicode', 'Alice2 Unicode', 'Alice3 Unicode', 'Alice4 Unicode', 'Alice5 Unicode', 'Noto Sans Lao', 'Noto Sans Lao Looped', sans-serif;
    font-size: 110%;
}

/* Laotian version of RTGS */
.royal-thai-general-system-of-transcription-laotian-version {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ALA-LC */
.library-of-congress-romanization-for-lao {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* BGN/PCGN */
.bgn-pcgn-romanization-for-lao {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Latin ====== */

.latin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Latvian ====== */

.latvian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Lithuanian ====== */

.lithuanian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Malay ====== */

.malay {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Malayalam ====== */

.malayalam {
    font-family: 'Malayalam Sangam MN', 'Kartika', 'Code2000', 'Lucida Grande', 'Arial Unicode MS', 'Lucida Sans Unicode', 'TITUS Cyberbit Basic', 'Chrysanthi Unicode', 'Bitstream Cyberbit', 'Bitstream CyberBase', 'Bitstream Vera', 'Visual Geez Unicode', 'Noto Sans Malayalam', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.malayalam-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Marathi ====== */

.marathi {
    font-family: 'Chandas', 'Tiro Devanagari Sanskrit', 'Sanskrit Text', 'Adobe Devanagari', 'Noto Serif Devanagari', 'Utsaah', 'Devanagari MT', 'Raghu', 'Gargi', 'JanaSanskrit', 'JanaHindi', 'Siddhanta', 'Noto Sans Devanagari', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.marathi-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Mongolian ====== */

/* ------ Cyrillic ------ */

.mongolian-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.mongolian-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ------ Traditional ------ */

.traditional-mongolian {
    display: inline-block;
    font-family: 'Menk Hawang Tig', 'Menk Qagan Tig', 'Menk Garqag Tig', 'Menk Har_a Tig', 'Menk Scnin Tig', 'Oyun Gurban Ulus Tig', 'Oyun Qagan Tig', 'Oyun Garqag Tig', 'Oyun Har_a Tig', 'Oyun Scnin Tig', 'Oyun Agula Tig', 'Mongolian Baiti', 'Mongolian Universal White', 'Mongol Usug', 'Mongolian White', 'MongolianScript', 'Code2000', 'Menksoft Qagan', 'Noto Sans Mongolian', serif;
    font-size: 120%;
    font-weight: normal;
    line-height: 1.1rem;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    vertical-align: top;
}

.scholarly-romanization-for-traditional-mongolian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Montenegrin ====== */

.montenegrin-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.montengrin-latin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Nepali ====== */

.nepali {
    font-family: 'Chandas', 'Tiro Devanagari Sanskrit', 'Sanskrit Text', 'Adobe Devanagari', 'Noto Serif Devanagari', 'Utsaah', 'Devanagari MT', 'Raghu', 'Gargi', 'JanaSanskrit', 'JanaHindi', 'Siddhanta', 'Noto Sans Devanagari', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.nepali-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Norwegian ====== */

/* Covers both Bokmål and Nynorsk */
.norwegian-bokmal,
.norwegian-nynorsk {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Odia ====== */

.odia {
    font-family: 'Oriya Sangam MN', 'Noto Sans Oriya', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.odia-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Ossetian ====== */

.ossetian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.ossetian-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Persian ====== */

.farsi,
.dari {
    font-family: 'Iranian Sans', 'Geeza Pro', 'Tahoma', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* Iranian romanization is for Farsi, classical is for Dari */
.persian-iranian-romanization,
.persian-classical-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Polish ====== */

.polish {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Portuguese ====== */

.european-portuguese,
.brazilian-portuguese {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Punjabi ====== */

/* Gurmukhi, used in Punjab, India */
.punjabi-gurmukhi {
    font-family: 'Gurmukhi MN', 'Gurmukhi MT', 'UT Punjabi Amritsar', 'Lucida Grande', 'Arial Unicode MS', 'Lucida Sans Unicode', 'Code2000', 'TITUS Cyberbit Basic', 'Chrysanthi Unicode', 'Bitstream Cyberbit', 'Bitstream CyberBase', 'Bitstream Vera', 'Visual Geez Unicode', 'Noto Sans Gurmukhi', sans-serif;
    font-size: 110%;
}

/* Shahmukhi, used in Punjab, Pakistan */
.punjabi-shahmukhi {
    font-family: 'Awami Nastaliq', 'Noto Nastaliq Urdu', 'Tahoma', 'Arial Unicode MS', 'UT Cairo', 'UT Naskh', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

.punjabi-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Romanian ====== */

.romanian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Russian ====== */

.russian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.russian-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Pre-1917, in other words, prior to the Bolsheviks */
.russian-pre-1917-spelling {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    color: red;
}

/* ====== Sanskrit ====== */

.sanskrit {
    font-family: 'Chandas', 'Tiro Devanagari Sanskrit', 'Sanskrit Text', 'Adobe Devanagari', 'Noto Serif Devanagari', 'Utsaah', 'Devanagari MT', 'Raghu', 'Gargi', 'JanaSanskrit', 'JanaHindi', 'Siddhanta', 'Noto Sans Devanagari', sans-serif;
    font-size: 110%;
}

/* IAST */
.international-alphabet-of-sanskrit-transliteration {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Scottish Gaelic ====== */

.scottish-gaelic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Serbian ====== */

.serbian-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.serbian-latin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Sindhi ====== */

.sindhi-arabic {
    font-family: 'MB Sindhi', 'Tahoma', 'MBSarang Sattar', 'MB Bhitai Sattar', 'MB Lateefi', 'Ayaz Gul', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

.sindhi-devanagari {
    font-family: 'Chandas', 'Tiro Devanagari Sanskrit', 'Sanskrit Text', 'Adobe Devanagari', 'Noto Serif Devanagari', 'Utsaah', 'Devanagari MT', 'Raghu', 'Gargi', 'JanaSanskrit', 'JanaHindi', 'Siddhanta', 'Noto Sans Devanagari', sans-serif;
    font-size: 110%;
}

/* ISO 15919 */
.sindhi-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Sinhala ====== */

.sinhala {
    font-family: 'Sinhala Sangam MN', 'KaputaUnicode', 'KandyUnicode', 'Dinamina', 'DinaminaUniWeb', 'Potha', 'Madhura', 'Noto Sans Sinhala', sans-serif;
    font-size: 110%;
}

.sinhala-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Spanish ====== */

.spanish {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Sundanese ====== */

.sundanese {
    font-family: 'Sundanese Unicode', 'Noto Sans Sundanese', sans-serif;
    font-size: 110%;
}

.sundanese-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Swedish ====== */

.swedish {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Tajik ====== */

.tajik {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.tajik-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.bukhori-tajik {
    font-family: 'SBL Hebrew', 'SBL BibLit', 'Taamey David CLM', 'Taamey Frank CLM', 'Alef', 'Noto Sans Hebrew', 'Narkisim', 'Miriam', 'Kinryu', 'Arial Hebrew', 'Arial', 'Adobe Hebrew', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* ====== Tamil ====== */

.tamil {
    font-family: 'Tamil Sangam MN', 'InaiMathi', 'Vijaya', 'Akshar', 'JanaTamil', 'Code2000', 'ETTamilNew', 'Lohit Tamil', 'Arial Unicode MS', 'Free Serif', 'Latha', 'Noto Sans Tamil', 'Noto Sans Tamil Supplement', sans-serif;
    font-size: 110%;
}

.tamil-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Telugu ====== */

.telugu {
    font-family: 'Telugu Sangam MN', 'Noto Sans Telugu', sans-serif;
    font-size: 110%;
}

.telugu-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Thai ====== */

.thai {
    font-family: 'Leelawadee UI', 'Leelawadee', 'Arial Unicode MS', 'Code2000', 'Noto Sans Thai', 'Noto Sans Thai Looped', sans-serif;
    font-size: 110%;
}

.royal-thai-general-system-of-transcription {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.paiboon-romanization-for-thai {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Tibetan ====== */

.tibetan {
    font-family: 'BabelStone Tibetan', 'BabelStone Tibetan Slim', 'Noto Serif Tibetan', 'Noto Sans Tibetan', 'Jomolhari-ID', 'Tibetan Machine Uni', 'Tibetan Machine Web', 'Jomolhari', 'Microsoft Himalaya', sans-serif;
    font-size: 110%;
}

/* (extended) Wylie */
.wylie-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* 'Phags-pa, used during a period of time when China and Tibet were under
Mongol rule */
.tibetan-phags-pa {
    display: inline-block;
    font-family: 'BabelStone Phags-pa Book', 'Microsoft PhagsPa', 'Noto Sans Phags-pa', sans-serif;
    font-size: 110%;
    line-height: 1.1rem;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    vertical-align: text-top;
    color: red;
}

/* THL Simplified Phonetic Transcription */
.tibetan-and-himalayan-library-simplified-phonetic-transcription {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Tibetan pinyin, imposed by China; using this is condoning cultural genocide,
so don't use it!! */
.tibetan-pinyin {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Turkish ====== */

.turkish {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Turkmen ====== */

.turkmen {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Ukrainian ====== */

.ukrainian {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* Current romanization system for Ukrainian */
.ukrainian-national-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* BGN/PCGN 1965
This romanization system is no longer in use anymore, unless you're a filthy
moscovite that takes pleasure in murdering innocent people. Fuck Russia. Burn
Moscow to the ground. Слава україні. */
.ukrainian-soviet-era-bgn-pcgn-1965-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    color: red;
}

/* ====== Urdu ====== */

.urdu {
    font-family: 'Awami Nastaliq', 'Noto Nastaliq Urdu', 'Tahoma', 'Arial Unicode MS', 'UT Cairo', 'UT Naskh', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

.urdu-iso-15919-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Uzbek ====== */

.uzbek {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.uzbek-soviet-era-cyrillic {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    color: red;
}

.southern-uzbek {
    font-family: 'Iranian Sans', 'Geeza Pro', Tahoma,sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

/* ====== Vietnamese ====== */

/* chữ Quốc ngữ */
.vietnamese {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* chữ Nôm */
.chu-nom {
    font-family: 'Nom Na Tong', 'HAN NOM A', 'HAN NOM B', 'Sun-ExtA', 'Sun-ExtB', 'Ming-Lt-HKSCS-UNI-H', 'Ming-Lt-HKSCS-ExtB', 'HanaMinA', 'HanaMinB', 'HanaMin', 'PingFang TC', 'MingLiU', 'MingLiU-ExtB', 'MingLiU_HKSCS', 'MingLiU_HKSCS-ExtB', 'SimSun', 'SimSun-ExtB', 'Arial Unicode MS', 'TITUS Cyberbit Basic', sans-serif;
    color: red;
}

/* telex input */
.vietnamese-telex {
    font-family: 'NewComputerModern10Mono', 'FreeMono', 'Courier Prime', 'Courier New', 'Courier', 'Consolas', 'Lucida Console', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    background-color: inherit;
}

/* ====== Yakut / Sakha ====== */

.yakut-sakha {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

.yakut-sakha-common-turkic-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* >>>>>> END OF FILE <<<<<< */
