/* =============================================================================
 * Story Stylesheet
 * =============================================================================
 * 
 * Author: Niji System - Wamo         / ワーモ
 *                       Vihreääketty / ヴィヒレアーケッテュ
 */

section#FontControls, section#ProgressionButtons {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    article#StoryBody {
        max-height: 6em;
        overflow: auto;
    }
}

article#StoryBody {
    max-height: 32em;
    overflow: auto;
}

/* Sets up the headings and paragraphs to properly scale with the font size */

h2#ChapterTitle {
    font-size: 2.25em;
    text-align: center;
}

h3.content-warning-title, h3.chapter-section {
    font-size: 2em;
}

p.story-content {
    font-size: 1em;
}

/* Heading decoration for sections of the chapter */

h3.chapter-section::before {
    content: "\00A7\00A0" / "";
}

/* Sets up the previous and next buttons */

a.previous-button::before {
    content: "\21E6\00A0" / "";
}

a.next-button::after {
    content: "\00A0\21E8" / "";
}

/* Author note decoration */

p.mid-chapter-author-note::before {
    content: "(*)\00A0" / "";
}

/* Other styles */

/* Spoiler text for slurs */
span.non-english-slur {
    color: black;
    background-color: black;
}
span.non-english-slur:hover {
    color: white
}
