/* =============================================================================
 * Languages from Ten'en Project stylesheet
 * =============================================================================
 *
 */

/* Marks the language test in question as one from Ten'en Project */
p.tenen-lang::before {
    content: "🏳️‍⚧️\00A0" / "";
}
p.tenen-lang::after {
    content: "\00A0🏳️‍⚧️" / "";
}

/* ====== Abvalese ====== */

span.abvalese-uidul-transcription-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

code.abvalese-ascii {
    font-family: 'NewComputerModern10Mono', 'FreeMono', 'Courier Prime', 'Courier New', 'Courier', 'Consolas', 'Lucida Console', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    background-color: inherit;
}

/* ====== Bhonmesh ====== */

span.bhonmesh {
    font-family: 'Jaini', 'Chandas', 'Tiro Devanagari Sanskrit', 'Sanskrit Text', 'Adobe Devanagari', 'Noto Serif Devanagari', 'Utsaah', 'Devanagari MT', 'Raghu', 'Gargi', 'JanaSanskrit', 'JanaHindi', 'Siddhanta', 'Noto Sans Devanagari', sans-serif;
}

i.bhonmesh-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-style: oblique;
}

/* ====== Eonai ====== */

span.eonai {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Frualbuqash ====== */

span.frualbuqash {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

i.frualbuqash-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-style: oblique;
}

/* ====== Ilbåsk ====== */

/* ------ Elesüükeln ------ */

span.ilbask-elesuukeln {
    display: inline-block;
    font-family: 'Menk Hawang Tig', 'Menk Qagan Tig', 'Menk Garqag Tig', 'Menk Har_a Tig', 'Menk Scnin Tig', 'Oyun Gurban Ulus Tig', 'Oyun Qagan Tig', 'Oyun Garqag Tig', 'Oyun Har_a Tig', 'Oyun Scnin Tig', 'Oyun Agula Tig', 'Mongolian Baiti', 'Mongolian Universal White', 'Mongol Usug', 'Mongolian White', 'MongolianScript', 'Code2000', 'Menksoft Qagan', 'Noto Sans Mongolian', serif;
    font-size: 110%;
    font-weight: normal;
    line-height: 1.1rem;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    vertical-align: top;
}

i.ilbask-elesuukeln-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-style: oblique;
}

/* ------ Spålméaakeln ------ */

span.ilbask-spalmeaakeln {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Mhuislanean ====== */

span.mhuislanean {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Miy ====== */

span.miy {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Neph ====== */

span.neph {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Nhimesh ====== */

span.nhimesh {
    font-family: 'SantakkuM', 'Santakku', 'Kurinto Sans Aux', 'Segoe UI Historic', 'Noto Sans Cuneiform', sans-serif;
}

i.nhimesh-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-style: oblique;
}

/* ====== Praanbabi ====== */

span.praanbabi {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Sefloul ====== */

span.sefloul {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Uokramathi ====== */

span.uokramathi {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Uuptari ====== */

span.uuptari-kanse-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}
i.uuptari-kanse-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-style: oblique;
}

span.uuptari-shito-script {
    font-family: 'Leelawadee UI', 'Leelawadee', 'Arial Unicode MS', 'Code2000', 'Noto Sans Thai', 'Noto Sans Thai Looped', sans-serif;
    font-size: 110%;
    color: red;
}

span.uuptari-uup-script {
    font-family: 'Noto Naskh Arabic UI', 'Noto Naskh Arabic', 'Iranian Sans', Tahoma, 'Microsoft Sans Serif', 'Arial Unicode MS', sans-serif;
    font-size: 110%;
    direction: rtl;
    unicode-bidi: isolate;
}

span.uuptari-upkvikhrakanse-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Xaiks ====== */

span.xaiks {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Xoabbagdosa ====== */

span.xoabbagdosa {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Yafl ====== */

span.yafl {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

/* ====== Yicaexsese ====== */

span.yicaexsese {
    font-family: 'Tibetan Machine Uni', 'BabelStone Tibetan Slim', 'BabelStone Tibetan', 'Noto Serif Tibetan', serif;
    font-size: 110%;
}

i.yicaexsese-romanization {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-style: oblique;
}

/* ====== Zhuzuri ====== */

span.zhuzuri {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
}

span.zhuzuri-zhur-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    color: red;
}

span.zhuzuri-zuges-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    font-variant: small-caps;
    color: red;
}

span.zhuzuri-revised-proposed-alphabet {
    font-family: 'Arimo', 'Linux Biolinum', 'Kurinto Sans', 'Arial', 'Noto Sans', sans-serif;
    color: orange;
}
